// Select Currency Dropdown
.dropdown {
    cursor: pointer;
    list-style: none;
    margin: 15px auto;
    padding: 0;
    box-shadow: 1px 3px 15px 2px #e1e5e9;
    max-width: 250px;
    background: #fff;
    font-weight: bold;
    // Select Currency
    @include element(select) {
      padding: 15px 20px;
      color: #CBC9D9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #E6E6E6;
      // Select Icon Container
      @include modifier(icon-container) {
        display: flex;
        font-size: 1.0rem;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        justify-self: flex-end;
        background: #ff7980;
        border-radius: 100%;
      }
      // Select Icon
      @include modifier(icon) {
        color: #fff;
        font-size: .80rem;
      }
    }
  
    @include element(currencies) {
      list-style: none;
      margin: 0;
      padding: 0;
      max-width: 350px;
      margin: auto;
      max-height: 0;
      overflow: hidden;
      transition: all .5s ease-in-out;
      @include modifier(currency) {
        cursor: pointer;
        background: #fff;
        padding: 15px 20px;
        font-weight: bold;
        border-bottom: 1px solid #E6E6E6;
        color: #848586;
        &:hover {
          color: #ff7980;
        }
      }
    }
  }