.darken {
    color: #848586;
} // Transition class
.drop_currencies {
    max-height: 300px;
    overflow: auto;
}

.show_nav {
    max-height: 1000px;
    left: 0 !important;
}

.drop_info {
    padding: 10px;
    max-height: 1680px;
}